<script id="templateExerciseReview" type="x-tmpl-mustache">
    <h4 class="headerRightPanel">
			<div style="display: inline-block; width: 85%; text-align: center;">
            	<img src="/moodle/koolsoft/resources/images/previous-black-01.png" style="width:30px;margin-right:20px;vertical-align:middle;"></img>
        			{{quiz.name}}
            	<img src="/moodle/koolsoft/resources/images/next-black-01.png" style="width:30px;margin-left:20px;vertical-align:middle;right:110px;"></img>
            </div>
			{{#isOwner}}
				<div style="display: inline-block; float:right">
					<img src="/moodle/koolsoft/resources/images/setting-01.png" style="width:30px;margin-right:10px;vertical-align:middle;"></img>
            		<img onclick="Ks.quiz.initQuiz({{sectionId}},{{quizId}})" src="/moodle/koolsoft/resources/images/edit-01.png" style="width:30px;margin-right:10px;vertical-align:middle;"></img>
				<div>
			{{/isOwner}}
    </h4>
    <div style="text-align: center;">
        <div style="display: inline-block; padding: 7px;color:black;" class="btn-group" data-toggle="buttons">
            <label class="btn btnAllBox btnBoxActive" color_profile="#0096EB">
                <input type="radio" value="-1" class="boxName" name="boxName"/>{{quiz.allBox}}
                 <img src="../resources/images/all.png" class="iconboxAll">
            </label>
            <label class="btn btnboxWrong btnBoxActive" color_profile="#DE1E1E">
                <input type="radio" value="0" class="boxName" name="boxName"/>{{quiz.boxWrong}}
                <img src="../resources/images/red.png" class="boxWrong">
            </label>
            <label class="btn btnbox1 btnBoxActive" color_profile="#FF8B5A">
                <input type="radio" value="1" class="boxName" name="boxName"/>{{quiz.box1}}
                <img src="../resources/images/cam.png" class="boxWrong">
            </label>
            <label class="btn btnbox2 btnBoxActive" color_profile="#FFEDA0">
                <input type="radio" value="2" class="boxName" name="boxName"/>{{quiz.box2}}
                <img src="../resources/images/yellow.png" class="boxWrong">
            </label>
            <label class="btn btnbox3 btnBoxActive" color_profile="#ADD633">
                <input type="radio" value="3" class="boxName" name="boxName"/>{{quiz.box3}}
                <img src="../resources/images/green.png" class="boxWrong">
            </label>
            <label class="btn btnboxN btnBoxActive" color_profile="#00B285">
                <input type="radio" value="4" class="boxName" name="boxName"/>{{quiz.boxN}}
                <img src="../resources/images/greenicon.png" class="boxWrong">
            </label>
        </div>

        <div style="display: inline-block;">
            <div>
                <button style="display: inline-block;padding: 6px 30px;" id="{{idBtnNewExercise}}" class="btn btn-success" >Play</button>
            </div>
        </div>
    </div>
    <br>
	<div style="margin-bottom: 10px">
		<label id="labelBoxQuestion"></label> <ul id="pagination-question" class="pagination-sm" style="float : right; margin: 0px !important"></ul>
	</div>
    <div id="{{idQuestionPanel}}"> </div>
	

</script>


<script id="templateExerciseReviewQuestion" type="x-tmpl-mustache">
    <table class="table">
        <tbody>
            {{#questions}}
                <tr>
                <td class="col-sm-7">{{index}}. {{questiontext}}</td>
                <td class="col-sm-5">{{answertext}}</td>
                </tr>
            {{/questions}}
        </tbody>
    </table>
</script>

<script id="templateExercisePlay" type="x-tmpl-mustache">
     <h4 class="headerRightPanel">
		<div style="display: inline-block; width: 85%; text-align: center;">
            <img src="/moodle/koolsoft/resources/images/previous-black-01.png" style="width:30px;margin-right:20px;vertical-align:middle;"></img>
        		{{quiz.name}}
            <img src="/moodle/koolsoft/resources/images/next-black-01.png" style="width:30px;margin-left:20px;vertical-align:middle;right:110px;"></img>
            </div>
		{{#isOwner}}
			<div style="display: inline-block; float:right">
				<img src="/moodle/koolsoft/resources/images/setting-01.png" style="width:30px;margin-right:10px;vertical-align:middle;"></img>
            	<img onclick="Ks.quiz.initQuiz({{sectionId}},{{quizId}})" src="/moodle/koolsoft/resources/images/edit-01.png" style="width:30px;margin-right:10px;vertical-align:middle;"></img>
			<div>
		{{/isOwner}}
    </h4>

    <div >
        <div>
            {{#quiz.questions}}
                <div style="display: inline-block; vertical-align: top;">
                    <button style="display: block; margin: 0 auto;" footer-id="footerQuestionNumber{{id}}" class="questionNoAnswer questionNumber" id-div="questionDiv{{id}}"
                        id="questionNumber{{id}}"> {{index}} </button>
                    <img class="footerQuestionNumber" id="footerQuestionNumber{{id}}" style="width:20px; margin: 0 auto; {{^display}}display:none{{/display}}"
                        src="/moodle/koolsoft/resources/images/up_01.png" >
                </div>
            {{/quiz.questions}}
        </div>
        <div class="tab-content">
            {{#quiz.questions}}
                <div class="questionDiv" id="questionDiv{{id}}" 
                     style="width:100%;{{^display}}display:none{{/display}}">
                    <label>{{questiontext}}</label> <br>
                     {{#answers}}
                        <div id="divAnswer{{idAnswer}}" style="padding: 5px;">
                            <label class="inputQuestionExercice"></label>
                            <input type="radio" class="questionExercise" div-question-number="questionNumber{{id}}" div-result="questionResultDiv{{id}}" div-id="divAnswer{{idAnswer}}" index-question="{{index}}" name="questionExercise{{id}}" value="{{correct}}" >
                            <label>{{answer}}</label> <br>
                        </div>
                     {{/answers}}
                     <br>
                     <div style="display: none; padding: 10px;" id="questionResultDiv{{id}}">
						<div id="correct">
                            <img src="../resources/images/correct-icon.png" 
                                 style="width:20px;display:inline-block;">
                        	<label >Correct</label>
						</div>
						<div id="wrong">
                            <img src="../resources/images/incorrect-icon.png" style="width:20px;" 
                                 style="width:30px;display:inline-block;">
                        	<label >Wrong</label> 
						</div>

                        <label>Answer : {{answerCorrect}}</label> 
                        <img src="/moodle/koolsoft/resources/images/Next-green.png" index-question="{{index}}" class="{{idBtnFinishExercise}}" style="float: right; width: 30px; height: 30px">
                    </div>
                </div>
            {{/quiz.questions}}
        </div>
    </div>
</script>
