<script id="templateExerciseReview" type="x-tmpl-mustache">
    <h4 class="headerRightPanel">
        <a class="iconPanel" style="vertical-align:middle;padding-top:3px;">
            <i class="fa fa-angle-left" style="color:white;width:45px;"></i>
        </a>

        <a class="iconPanel iconRight" style="right:110px;margin-top:3px;" >
            <i class="fa fa-cog" style="color:white;width:45px;"></i>
        </a>
        {{quiz.name}}
        <a class="iconPanel iconRight" style="right:55px;margin-top:3px;" href="#" onclick="Ks.quiz.initQuiz({{sectionId}},{{quizId}})">
            <i class="fa fa-pencil-square-o" style="color:white;width:45px;"></i></a>

        <a class="iconPanel iconRight" style="right:5px;" >
            <i class="fa fa-angle-right" style="color:white;width:45px;"></i></a>
    </h4>
    <div style="text-align: center;">
        <div style="display: inline-block; padding: 7px;" class="btn-group" data-toggle="buttons">
            <label style="float:none ;border-radius: 100%;"  class="btn btn-primary" >
                <input type="radio" value="-1" class="boxName" name="boxName"/>{{quiz.allBox}}
            </label>
            <label style="float:none ;border-radius: 100%;"  class="btn btn-primary" >
                <input type="radio" value="0" class="boxName" name="boxName"/>{{quiz.boxWrong}}
            </label>
            <label style="float:none ;border-radius: 100%;"  class="btn btn-primary" >
                <input type="radio" value="1" class="boxName" name="boxName"/>{{quiz.box1}}
            </label>
            <label style="float:none ;border-radius: 100%;"  class="btn btn-primary" >
                <input type="radio" value="2" class="boxName" name="boxName"/>{{quiz.box2}}
            </label>
            <label style="float:none ;border-radius: 100%;"  class="btn btn-primary" >
                <input type="radio" value="3" class="boxName" name="boxName"/>{{quiz.box3}}
            </label>
            <label style="float:none ;border-radius: 100%;"  class="btn btn-primary" >
                <input type="radio" value="4" class="boxName" name="boxName"/>{{quiz.boxN}}
            </label>
        </div>

        <div style="display: inline-block;">
            <div>
                <button style="display: inline-block;" id="{{idBtnNewExercise}}" class="btn btn-primary" >Play</button>
            </div>
        </div>
    </div>
    <br>

    <div id="{{idQuestionPanel}}">
    </div>

</script>

<script id="templateExerciseReviewQuestion" type="x-tmpl-mustache">
    <label>{{label}}</label>
    <table class="table">
        <tbody>
            {{#questions}}
                <tr>
                <td class="col-sm-2">{{index}}</td>
                <td class="col-sm-6">{{questiontext}}</td>
                <td class="col-sm-4">{{answertext}}</td>
                </tr>
            {{/questions}}
        </tbody>
    </table>
</script>

<script id="templateExercisePlay" type="x-tmpl-mustache">
    <h4 class="headerRightPanel">
        <a class="iconPanel" style="vertical-align:middle;padding-top:3px;">
            <i class="fa fa-angle-left" style="color:white;width:45px;"></i>
        </a>

        <a class="iconPanel iconRight" style="right:110px;margin-top:3px;" >
            <i class="fa fa-cog" style="color:white;width:45px;"></i>
        </a>
        {{quiz.name}}
        <a class="iconPanel iconRight" style="right:55px;margin-top:3px;" href="#" onclick="Ks.quiz.initQuiz({{sectionId}},{{quizId}})">
            <i class="fa fa-pencil-square-o" style="color:white;width:45px;"></i></a>

        <a class="iconPanel iconRight" style="right:5px;" >
            <i class="fa fa-angle-right" style="color:white;width:45px;"></i></a>
    </h4>

    <div class="container">
        <div>
            {{#quiz.questions}}
                <div style="display: inline-block;">
                    <button style="display: block; margin: 0 auto;" footer-id="footerQuestionNumber{{id}}" class="questionNoAnswer questionNumber" id-div="questionDiv{{id}}"
                        id="questionNumber{{id}}"> {{index}} </button>
                    <img class="footerQuestionNumber" id="footerQuestionNumber{{id}}" style="width:20px; margin: 0 auto; {{^display}}display:none{{/display}}"
                        src="/moodle/koolsoft/resources/images/up_01.png" >
                </div>
            {{/quiz.questions}}
        </div>
        <div class="tab-content">
            {{#quiz.questions}}
                <div class="questionDiv" id="questionDiv{{id}}" style="width:100%;{{^display}}display:none{{/display}}">
                    <label>{{questiontext}}</label> <br>
                     {{#answers}}
                        <div id="divAnswer{{idAnswer}}" style="padding: 5px;">
                            <label class="inputQuestionExercice"></label>
                            <input type="radio" class="questionExercise" div-question-number="questionNumber{{id}}" div-result="questionResultDiv{{id}}" div-id="divAnswer{{idAnswer}}" index-question="{{index}}" name="questionExercise{{id}}" value="{{correct}}" >
                            <label>{{answer}}</label> <br>
                        </div>
                     {{/answers}}
                     <br>
                     <div style="display: none; padding: 10px;" id="questionResultDiv{{id}}">
                        <label>Answer : {{answerCorrect}}</label>
                        <button index-question="{{index}}" class="btn btn-primary {{idBtnFinishExercise}}" style="float: right;">Next</button>
                    </div>
                </div>
            {{/quiz.questions}}
        </div>
    </div>
</script>