<script id="templateTest" type="x-tmpl-mustache">
    <h4 class="headerRightPanel">
        <a class="iconPanel" style="vertical-align:middle;padding-top:3px;">
            <i class="fa fa-angle-left" style="color:white;width:45px;"></i>
        </a>

        <a class="iconPanel iconRight" style="right:110px;margin-top:3px;" >
            <i class="fa fa-cog" style="color:white;width:45px;"></i>
        </a>
        {{attempt.quiz.name}}
        <a class="iconPanel iconRight" style="right:55px;margin-top:3px;" href="#" onclick="Ks.quiz.initQuiz({{sectionId}},{{quizId}})">
            <i class="fa fa-pencil-square-o" style="color:white;width:45px;"></i></a>

        <a class="iconPanel iconRight" style="right:5px;" >
            <i class="fa fa-angle-right" style="color:white;width:45px;"></i></a>
    </h4>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <form action="/moodle/koolsoft/test/?action=process" method="post" id="formQuestion" role="form">
                    {{#attempt.questions}}
                        <div id="questionDiv{{index}}">
                            <label> Question {{index}} : {{questiontext}}</label> <br>
                            <input is-submit="true" type="hidden" name="{{sequencecheckName}}" value="{{sequencecheckValue}}">
                             {{#answers}}
                                <input is-submit="true" type="radio" value="{{fieldValue}}" name-answer-field="{{fieldClass}}Right" class="{{fieldClass}} answerQuestionLeft"  name="{{fieldName}}"><label>{{answer}}</label> <br>
                             {{/answers}}
                        </div>
                    {{/attempt.questions}}

                    <input type="hidden" is-submit="true" name="finishattempt" value="true">
                    <input type="hidden" is-submit="true" name="attempt" value="{{attempt.id}}">
                    <input type="hidden" is-submit="true" name="thispage" value="0">
                    <input type="hidden" is-submit="true" name="nextpage" value="-1">
                    <input type="hidden" is-submit="true" name="timeup" value="0" id="timeup">
                    <input type="hidden" is-submit="true" name="scrollpos" value="" id="scrollpos">
                    <input type="hidden" is-submit="true" name="slots" value="{{attempt.slotString}}">
                </form>
                <input type="hidden" id="numberQuestion" value="{{attempt.questions.length}}">
                <button id="btnSubmitFormQuestion" class="btn btn-primary"> Finish test </button>
            </div>
            <div class="col-sm-3">
                {{#attempt.questions}}
                    <div style="border: black solid 1px; background-color: white; padding: 7px;" class="btn-group" data-toggle="buttons">
                        <label>{{index}}</label>
                        {{#answers}}
                        <label style="float:none ;border-radius: 100%;" name="{{fieldClass}}Right" answer-value="{{fieldValue}}"  name-answer-field="{{fieldClass}}" class="answerQuestionRight btn btn-primary" >
                            <input type="radio"/>{{label}}
                        </label>
                        {{/answers}}
                    </div>
                {{/attempt.questions}}
            </div>
        <div class="row">
    </div>
</script>

<script id="templateTestReview" type="x-tmpl-mustache">
    <h4 class="headerRightPanel">
        <a class="iconPanel" style="vertical-align:middle;padding-top:3px;">
            <i class="fa fa-angle-left" style="color:white;width:45px;"></i>
        </a>

        <a class="iconPanel iconRight" style="right:110px;margin-top:3px;" >
            <i class="fa fa-cog" style="color:white;width:45px;"></i>
        </a>
        {{quiz.name}}
        <a class="iconPanel iconRight" style="right:55px;margin-top:3px;" href="#" onclick="Ks.quiz.initQuiz({{sectionId}},{{quizId}})">
            <i class="fa fa-pencil-square-o" style="color:white;width:45px;"></i></a>

        <a class="iconPanel iconRight" style="right:5px;" >
            <i class="fa fa-angle-right" style="color:white;width:45px;"></i></a>
    </h4>

    <div class="container">
        <label>Timelimit : {{quiz.timelimit}} (minutes) -- {{quiz.numberQuestion}} question</label><br>
        <label>Time start : {{quiz.timeopen}}</label> -- <label>Time end : {{quiz.timeclose}}</label><br>
        <div>
            <button style="display: inline-block;" id="{{idBtnNewTest}}" class="btn btn-primary" >New test</button>
        </div>
        {{#quiz.state}}
            <label>Result :</label><br>
            <label>Started on : {{quiz.timestart}}</label> -- <label>Completed on : {{quiz.timefinish}}</label><br>
            <label>Grade on : {{quiz.sumgradeUsers}}/ {{quiz.sumgrades}}</label><br>
            <button data-toggle="collapse" class="btn btn-primary" data-target="#questionResultDetail">Show detail</button>

            <div id="questionResultDetail" class="collapse">
                {{#quiz.questions}}
                    <div >
                        <label> Question {{index}} : {{questiontext}}</label> <br>
                         {{#answers}}
                            <input disabled {{#answered}} checked {{/answered}} type="radio" ><label>{{answer}}</label>
                             {{#answered}} {{^correct}} <span class="glyphicon glyphicon-remove"></span> {{/correct}} {{/answered}}
                             {{#correct}} <span class="glyphicon glyphicon-ok"></span> {{/correct}} <br>
                         {{/answers}}
                    </div>
                {{/quiz.questions}}
            </div>
          {{/quiz.state}}
    </div>
</script>
