<script id="templateTest" type="x-tmpl-mustache">
	<h4 class="headerRightPanel">
		<div style="display: inline-block; width: 85%; text-align: center;">
            <img src="/moodle/koolsoft/resources/images/previous-black-01.png" style="width:30px;margin-right:20px;vertical-align:middle;"></img>
        		{{attempt.quiz.name}}
            <img src="/moodle/koolsoft/resources/images/next-black-01.png" style="width:30px;margin-left:20px;vertical-align:middle;right:110px;"></img>
        </div>
		<div style="display: inline-block; float:right">
			<button id="btnSubmitFormQuestion" class="btn btn-success"> Submiss</button>
		<div>
    </h4>
    
    <div >
        <div class="row">
            <div style="width: 76%; display: inline-block; padding-left: 30px;">
                <form action="/moodle/koolsoft/test/?action=process" method="post" id="formQuestion" role="form">
                    {{#attempt.questions}}
                        <div style="border-bottom: dashed 2px #9e9a9a; padding-left: 10px; margin-bottom: 10px; overflow: hidden;" id="questionDiv{{index}}">
                            <label> Question {{index}} : {{questiontext}}</label> <br>
                            <input is-submit="true" type="hidden" name="{{sequencecheckName}}" value="{{sequencecheckValue}}">
                             {{#answers}}
                                <input style="padding-left: 10px;" is-submit="true" type="radio" value="{{fieldValue}}" name-answer-field="{{fieldClass}}Right" class="{{fieldClass}} answerQuestionLeft"  name="{{fieldName}}"><label style="padding-left: 10px;">{{answer}}</label> <br>
                             {{/answers}}
						     <div style="float: right;">
							 	<a style="display: inline-block;" question-index="questionIndex{{index}}" class="tagQuestion" type-tag="0" href="#"> Nomal</a>
							 	- <a style="display: inline-block;" question-index="questionIndex{{index}}" class="tagQuestion" type-tag="1" href="#"> Difficult</a>
							 	- <a style="display: inline-block;" question-index="questionIndex{{index}}" class="tagQuestion" type-tag="2" href="#"> Not answer</a>
						     </div>
                        </div>
                    {{/attempt.questions}}

                    <input type="hidden" is-submit="true" name="finishattempt" value="true">
                    <input type="hidden" is-submit="true" name="attempt" value="{{attempt.id}}">
                    <input type="hidden" is-submit="true" name="thispage" value="0">
                    <input type="hidden" is-submit="true" name="nextpage" value="-1">
                    <input type="hidden" is-submit="true" name="timeup" value="0" id="timeup">
                    <input type="hidden" is-submit="true" name="scrollpos" value="" id="scrollpos">
                    <input type="hidden" is-submit="true" name="slots" value="{{attempt.slotString}}">
                </form>
                <input type="hidden" id="numberQuestion" value="{{attempt.questions.length}}">
            </div>
            <div style="width: 15%; height: 70%; border: solid 1px gray; position: fixed; right: 25px; display: inline-block;">
                <div style="text-align:center;background-color: #2e3d49;padding:10px 5px;">
    				<div id="clockdiv" style="color:#3AD3CD">
        				Time left: <span class="minutes"></span>: <span class="seconds"></span>
    				</div>
                </div>
				<div style="overflow-y: scroll;height:90%;">
                	{{#attempt.questions}}
                    	<div style="background-color: white; padding: 7px;" class="btn-group" data-toggle="buttons">
                        	<label style="padding:12px 3px;" id="questionIndex{{index}}" >{{index}}</label>
                        	{{#answers}}
                        	<label style="float:none ;border-radius: 100%;background-color:white;color:black;border:1px solid black;border-radius;100%;" name="{{fieldClass}}Right" answer-value="{{fieldValue}}"  name-answer-field="{{fieldClass}}" class-group="answerQuestionRight{{index}}" class="answerQuestionRight btn answerQuestionRight{{index}}" >
                        	    <input type="radio"/>{{label}}
                       	 </label>
                       	 {{/answers}}
                    	</div>
               	 	{{/attempt.questions}}
            </div>
            </div>
        <div class="row">
    </div>
</script>

<script id="templateTestReviewProgess" type="x-tmpl-mustache">

    <div style="text-align: center;">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-3">User name</th>
                    <th class="col-md-3">Grade</th>
                    <th class="col-md-3">Status</th>
                    <th class="col-md-3">Time finish</th>
                </tr>
            </thead>
            <tbody>
                {{#users}}
                    <tr>
                    <td class="col-md-3">{{username}}</td>
                    <td class="col-md-3">{{#finish}} {{sumgrades}}/ {{grade}} {{/finish}}</td>
                    <td class="col-md-3">{{#finish}} {{#pass}} Pass {{/pass}} {{^pass}} Miss {{/pass}} {{/finish}}</td>
                    <td class="col-md-3">{{#finish}} {{timefinish}} {{/finish}}</td>
                    </tr>
                {{/users}}
            </tbody>
        </table>
    </div>
</script>

<script id="templateTestReview" type="x-tmpl-mustache">
    <h4 class="headerRightPanel">
		<div style="display: inline-block; width: 85%; text-align: center;">
            <img src="/moodle/koolsoft/resources/images/previous-black-01.png" style="width:30px;margin-right:20px;vertical-align:middle;"></img>
        		{{quiz.name}}
            <img src="/moodle/koolsoft/resources/images/next-black-01.png" style="width:30px;margin-left:20px;vertical-align:middle;right:110px;"></img>
        </div>
		{{#isOwner}}
		<div style="display: inline-block; float:right">
		    <img onclick="Ks.test.viewProgress()" src="/moodle/koolsoft/resources/images/progress.png" style="width:30px;margin-right:10px;vertical-align:middle;"></img>
			<img src="/moodle/koolsoft/resources/images/setting-01.png" style="width:30px;margin-right:10px;vertical-align:middle;"></img>
            <img onclick="Ks.quiz.initQuiz({{sectionId}},{{quizId}})" src="/moodle/koolsoft/resources/images/edit-01.png" style="width:30px;margin-right:10px;vertical-align:middle;"></img>
		<div>
		{{/isOwner}}
    </h4>

    <div >
		<label>Desctiption </label> : {{quiz.intro}}<br>
		<label>Number of question </label> : {{quiz.numberQuestion}} questons<br>
        <label>Time practice </label> : {{quiz.timelimit}} (minutes)<br>
        <label>Start time </label> : {{quiz.timeopen}} -<label>End time </label> : {{quiz.timeclose}}<br>
        <div style="text-align: center;">
			{{#quiz.expired}}
            	<button style="display: inline-block;" id="{{idBtnNewTest}}" class="btn btn-success" >
					{{#quiz.state}}Re-play{{/quiz.state}} {{^quiz.state}}Play{{/quiz.state}}
				</button>
			{{/quiz.expired}}
			{{^quiz.expired}}
				<span style="display: inline-block;">Not ontime test!</span>
			{{/quiz.expired}}
        </div>
		<br>
        {{#quiz.state}}
			<div class="row">
            	<label class="col-sm-3" >Correct : {{quiz.sumgradeUsers}}/ {{quiz.sumgrades}}</label>
            	<label class="col-sm-3" >Total time : {{quiz.timeTaken}} minutes</label>
            	<label class="col-sm-3" >Date : {{quiz.timefinish}}</label>
            	<label class="col-sm-3" >{{#quiz.pass}}You pass !{{/quiz.pass}} {{^quiz.pass}}You miss !{{/quiz.pass}}</label>
			</div>
			<div style="text-align: center;">
            	<button data-toggle="collapse" class="btn" data-target="#questionResultDetail">Review question</button>
			</div>
            <div id="questionResultDetail" class="collapse">
                {{#quiz.questions}}
                    <div >
                        <label> Question {{index}} : {{questiontext}}</label> <br>
                         {{#answers}}
                            <input disabled {{#answered}} checked {{/answered}} type="radio" ><label>{{answer}}</label>
                             {{#answered}} {{^correct}} <span class="glyphicon glyphicon-remove"></span> {{/correct}} {{/answered}}
                             {{#correct}} <span class="glyphicon glyphicon-ok"></span> {{/correct}} <br>
                         {{/answers}}
                    </div>
                {{/quiz.questions}}
            </div>
          {{/quiz.state}}
    </div>
</script>
